extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block content
  section.hero
    - 
        var socials = [
          ['https://vk.com/sotnikova_m', 'vk'],
          ['https://github.com/myakishevami', 'github'],
          ['https://www.linkedin.com/in/%D0%BC%D0%B0%D1%80%D0%B8%D1%8F-%D0%BC%D1%8F%D0%BA%D0%B8%D1%88%D0%B5%D0%B2%D0%B0-84148714b/', 'in']
          ]
    .hero__header
          ul.socials
            each item in socials
              li.socials__item
                a(href=`${item[0]}`).socials__link
                  +icon(item[1], 'socials__link-icon')
          .hero__menu
           a(href="").hamburger
                +icon('hamburger', 'socials__link-icon')
              
    .hero__content
        .hero__title
          .section-title
            .user.hero__user
               .user__pic
                  img(src='./assets/images/header_logo.jpg', alt="").user__pic-img
               .user__description
                 .user__name Мария Мякишева
                 .user__info Личный сайт разработчика

    a(href="#first").down-btn.hero__down-btns
         +icon('arrow_down', 'hero__down-icon')

    .about__triangles
      .triangles
        .triangles__left
          svg(viewbox = "0 0 900 180" preserveAspectRatio = "none").triangle.triangle__left
            polygon(points = "0 0, 0 180, 900 180")
        .triangles__right  
          svg(viewbox = "0 0 900 180" preserveAspectRatio = "none").triangle.triangle__right
            polygon(points = "900 0, 900 180, 0 180")

  section.about(id="first")
    .about__left
      
      .about__left-main
        .about__left-title
          .block-title Обо мне
          .block-pic
             img(src='./assets/images/stars2.png', alt="").block-pic__img
        .about__left-content
          .user-description
            .user-description__image
              img(src='./assets/images/header_logo.jpg', alt="").user-description__avatar
            .user-description__data
              .user-description__title
                .block-subtitle Кто я 
              .user-description__text.text-content
                p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                br
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
    .about__right
      
      .about__right-main
        .about__right-title
          .block-subtitle Чем я могу быть вам полезен
        .about__right-description.text-content
          p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку. 
        .about__right-content
          #skills-container
          
  section.map
    
    .map__container
      .map__data
        .contacts
          h2.contacts__title
            .block-subtitle.block-subtitle__footer контакты
          address.contacts__data
            ul.contacts__list
              - 
                var contacts = [
                  ['skype', 'smi.tomsk', 'skype:Smi.tomsk'],
                  ['phone', '+7 983 302 3806', 'tel:+79833023806'],
                  ['envelope_n', 'smi.tomsk@gmail.com', 'mailto:smi.tomsk@gmail.com'],
                  ['map_n', 'Новосибирск, ул. Лебедевского, д. 2/2', 'https://www.google.com/maps/place/%D1%83%D0%BB.+%D0%9B%D0%B5%D0%B1%D0%B5%D0%B4%D0%B5%D0%B2%D1%81%D0%BA%D0%BE%D0%B3%D0%BE,+2%2F2,+%D0%9D%D0%BE%D0%B2%D0%BE%D1%81%D0%B8%D0%B1%D0%B8%D1%80%D1%81%D0%BA,+%D0%9D%D0%BE%D0%B2%D0%BE%D1%81%D0%B8%D0%B1%D0%B8%D1%80%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+630123/@55.081945,82.9223351,17z/data=!3m1!4b1!4m5!3m4!1s0x42dfe514adce78fd:0xb716094ebd6c386e!8m2!3d55.081945!4d82.924529?hl=ru-RU']
                ]
              each item in contacts
                li.contacts__item
                  a(href=`${item[2]}`).contacts__item-link
                    .contacts-row.contacts__icon
                      +icon(item[0], 'contacts__icon-img')
                    .contacts-row.contacts__main #{item[1]}
    #google-map

  footer.main__footer
    .footer__row.footer__row-first
      .footer__col
        .footer__text
          p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
    .footer__row.footer__row-second
      .footer__col
        nav.menu
          ul.menu__list
            each item in [['Мои работы', './works.html'], ['Обо мне', './about.html'], ['Блог', './blog.html'], ['Авторизация', './wellcome.html']]
              li.menu__item
                a(href=`${item[1]}`).menu__link #{item[0]} 

      .footer__col.footer__col_justify_end
        ul.socials.socials-footer
            each item in socials
              li.socials__item
                a(href=`${item[0]}`).socials__link
                  +icon(item[1], 'socials__link-icon socials__link-icon-opacity')

    .footer__row.footer__row-third
      .footer__col
        .col__menu
          ul.footer-contacts__list
            each item in contacts
              li.footer-contacts__item
                .footer-contacts__link.footer__text #{item[1]}
  .hamburger-popups
    .hamburger-popups__content
      .hamburger-popups__content-header
        a(href="#").hamburger-popups__close
          svg.hamburger-popups__close-img
            line(x1="1" y1="31" x2="31" y2="1" stroke="white" stroke-width="4")
            line(x1="1" y1="1" x2="31" y2="31" stroke="white" stroke-width="4")
      ul.hamburger-popups__list
        nav.nav__hamburger 
          ul.nav__list__hamburger
            li.nav__item__hamburger
              a(href="./works.html").nav__link__hamburger Мои работы
            li.nav__item__hamburger
              a(href="./blog.html").nav__link__hamburger Блог
            li.nav__item__hamburger
              a(href="./about.html#").nav__link__hamburger Обо мне
            li.nav__item__hamburger
              a(href="./wellcome.html").nav__link__hamburger Авторизация  

block scripts
  script(src='about.bundle.js')
  

